<a href={{ path('add_Classroom') }}>+Add</a>
<br>
{% for i in tabClassrooms %}
    Id = {{ i.id }}
    Name = {{ i.name }}
    Description = {{ i.description }}
    <a href={{ path('removeClassroom',{'id':i.id}) }}>Delete</a>
    <a href={{ path('updateClassroom',{'id':i.id}) }}>Update</a>
    <br>
{% endfor %}